@using System.Collections.Generic
@using Microsoft.AspNetCore.Mvc.Rendering
@using Web.Code
@model Web.Models.Home.HomeIndexModel

@{
    ViewData["Title"] = "Generator";

    int groupSize = (int)Math.Ceiling(Model.Numbers.Count * 1f / 3);
    List<List<CPRNumber>> numberGroups = new List<List<CPRNumber>>
    {
        Model.Numbers.Take(groupSize).ToList(),
        Model.Numbers.Skip(groupSize).Take(groupSize).ToList(),
        Model.Numbers.Skip(groupSize * 2).ToList()
    };
}

<br/>
<h3>Generator</h3>
<div class="row">
    <div class="col-md-4">
        <p>
            Slå en dato op, og se alle mulige kombinationer af CPR numre på den dag.
        </p>
    </div>
    <div class="col-md-4">
        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            <div class="form-group">
                <label for="frmDate">Dato</label>
                <input class="form-control" id="frmDate" name="date" placeholder="Dato" value="@Model.ShownDate.ToString("d")">
            </div>
            <div class="form-group">
                <label for="frmGender">Køn</label>
                <select id="frmGender" name="gender" class="form-control">
                    @foreach (var gender in Model.Genders)
                    {
                        if (Model.ShownGender == gender)
                        {
                            <option value="@gender" selected="selected">@Localization.GetString(gender)</option>
                        }
                        else
                        {
                            <option value="@gender">@Localization.GetString(gender)</option>
                        }
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-default">Generér</button>
        }
    </div>
</div>
@if (Model.Numbers.Any())
{
    <div class="text-center">
        <p>Total: @Model.Numbers.Count</p>
    </div>
    <div class="row">
        @foreach (List<CPRNumber> group in numberGroups)
        {
            <div class="col-md-4">
                <table class="table table-condensed">
                    @foreach (var number in group)
                    {
                        <tr>
                            <td>@Html.DisplayFor(s => number.Gender)</td>
                            <td>@Html.DisplayFor(s => number)</td>
                        </tr>
                    }
                </table>
            </div>
        }
    </div>
}